body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  text-align: center;
}

.hero {
  display: flex;
  height: 70vh;
}

@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero-bg {
    height: 40%;
  }
}

.hero-bg {
  width: 60%;
  background: url("img/equipment-header.webp");
  background-size: cover;
}

.hero-content {
  height: 100%;
  padding: 10px 45px;
  display: flex;
  align-items: center;
}

.hero-btn {
  display: flex;
}

button {
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.equipment-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .equipment-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.equipment-card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.equipment-card img {
  height: 250px;
  object-fit: contain;
  margin: 0 auto 20px;
}

.equipment-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.equipment-card p {
  font-size: 14px;
  margin-bottom: 15px;
}

.equipment-card a {
  color: #007bff;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 3px;
}

.gym-equipments {
  margin-top: 100px;
}

.gym-equipments h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 20px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  font-weight: bold;
}

td img {
  width: 100px;
  border-radius: 10px;

  height: auto;
}
/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center; /* Center-aligning the content */
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}
